<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>books online</title>
</head>
<!-- CSS Files -->
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="bootstrap.css">

<body ng-app="bookStore" ng-controller="indexController">
   
<nav class="navbar navbar-default" style="border: 1px solid skyblue;">
  <div class="row">  
	<div class="navbar-brand col-sm-4"><a href="#" style="color: aliceblue;"><h1>Library</h1></a></div>
   
	<div class="nav navbar-nav col-sm-4" style="margin-top:10px;">
        <input type="text" placeholder="Search Here" class="form-control" ng-model="userSearch">
    </div>
	 
    </div>
</nav>


    <div id="item" ng-repeat="item in bookList | filter:userSearch " style="margin-top:5%; margin-left:8%;">
        <div class="row">
            <div class="col-md-5">
                <img ng-src="images/{{item.bookName}}.jpg"/>
            </div>
            <div class="col-md-7" >
                <div class="name" style="color:whitesmoke;font-size: 20px;font-weight:bold;background-color: rgba(0, 0, 0, 0);">{{item.bookName}}</div>
                <div ng-show="showDetails" style="color:aliceblue; ">
                    Price : {{item.price}}Rs <br> Author : {{item.author}}
                    <hr>
                    <button class="btn btn-primary" ng-click="showDetails = false">Hide</button>
                </div>
                <div class="buttons">
                    <button class="btn btn-warning" ng-hide="showDetails" ng-click="showDetails = true">Details</button>
                    <button class="btn btn-danger" ng-click="addToCart(item)" ng-hide="showDetails">Buy</button>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- JavaScript Files -->
<script src="angular.js"></script>
<script src="control.js"></script>
<script src="bookService.json"></script>

</html>